body{
    background-color: rgb(250,247,241);
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid black;
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
}
.templateContainer .template_Container{
    display: grid;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer .template_Container .template{
    background-color: white;
}
.templateContainer .template_Container .template img{
    height: 250px;
}
.card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px ;
    text-transform: capitalize;
  }
  .card-container {
    margin: 25px auto 0;
    position: relative;
    grid-template-columns: 1fr;
    justify-content: space-around;
    margin-left:20px;
    margin-right:20px;
    width: 420px;
  }
  
  .card-media {
    display: grid;
    border-radius: 20%;
    width: 100%;
    height: 250px;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;
  }
  .cls-desc{
    color: #aaa;
    margin-bottom: 25px;
  }
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  .main{
    display:grid;
  }